@page
@model Slidable.Identity.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>Handle:</dt>
        <dd><p>@Model.Handle</p></dd>

        <dt>API Key:</dt>
        <dd><p>@Model.ApiKey</p></dd>
    </dl>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
